/*
Colors used:
Primary Color (white): #ffffff;
primary color (grey) : #333333
primary color (dark grey) : #AAAAAA
Secondary Color (Green): #4A02E7;
*/

body {
  background-color: white;
  font-family: "Lato", sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #333333;
}

h1,
h2,
h3,
h4 {
  font-family: "Lato", sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* custom logo sizing */
.logo {
  max-width: 150px;
  height: auto;

}

/* general image responsive sizing */
img {
  width: 100%;
}

/* Links */
a {
  background-color: inherit;
  color: #333333;
  text-decoration: none; /* No underlining */
}

a:hover,
a:focus {
  background-color: inherit;
  color: #4A02E7;
  text-decoration: non;
}

a:visited {
  /* visited link */
  /* color: #ff7f50; */
  /* We suggest using a different color here */
background-color: inherit;
  color: gray;
}
a:active {
  /* selected link */
  color: #4a02e7;
}

/* general buttons */
.button {
  display: inline-block;
  background-color: #4A02E7;
  color: white;
  font-weight: 700;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.5; /* Reduces the opacity of the button to 50% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #333333;
  text-transform: uppercase;
  border: 2px solid #4a02e7;
}

.button.contact:hover {
  background-color: #4a02e7;
  color: #ffffff;
}

svg {
    max-width: 32px;
}


/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
.center {
  text-align: center;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}
#hero h1 {
    text-align: center;
    margin: 0;
    padding: 0.67em 0;
}

#hero span {
    display: block;
}

#work h2 {
    text-align: center;
}

.logo {
    max-width: 65px;
}
header {
  background-color: #ffffff;
  padding: 10px 0;
  margin: 0px;
  border-bottom: 3px solid #4a4a4a;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.38);
  -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.38);
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.38);
  position: fixed;
width: 100%;
}


/* Removes the bullet points from unordered lists at nav bar */

nav > ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
  text-decoration: none;

}

nav > ul > li > a {
  list-style-type: none;
  padding: 0 15px;
  font-family: "Lato", sans-serif;
  color: #000000;
  font-size: 1.125em;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;
  text-decoration: none;
}
/* --------Pseudo classes hover states at navigation links */
nav>ul>li>a:visited {
  text-decoration: underline;
}

nav>ul>li>a:hover {
  color: #000000;
  /* Underlining when hovering over a link */
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
}

nav>ul>li>a:active {
  font-style: italic;
  padding: 0.1em 0.2em;
  text-decoration: underline;
}

.navtoggle li:not(:last-child) {
    display: none;
    padding: 0 0 10px;
}

.navtoggle,
.navtoggle.responsive {
    position: relative;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 30px;
    padding-right: 0.3em;
}

.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #54e9d1;
}


#hero {
  background-color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

main {
  padding-top: 99px;
}

#contact {
    background-color: #ffffff;
    text-align: center;
    padding: 0.67em;
}

#copyright {
    text-align: center;
    font-size: 12px;
}

#about-picture {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.social-links {
  list-style: none;
}
.social-links li {
  display: inline-block;
  padding: 0 15px;
}
.social-links img {
  width: 30px;
  height: auto;
}
berlin-illustration{width: 100%;
max-width: 100%;
height: auto;}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (641px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  nav > ul {
          margin: 1em 0;
      }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
    box-sizing: border-box;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  nav > ul {
        margin: 1em 0;
  nav > ul > li {
  display: inline-block;
}
.navtoggle li:not(:last-child) {
    display: inline-block;
}
.navtoggle li:not:last-child {
  display: none;
}

.col-md-6 {
  width: 50%;

#about-page h2 {
  margin-top: 0;
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
.container{
max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.col-md-7 {
       width: 60%;
   }

   .col-md-5 {
       width: 40%;
   }
}
/* Removes menu icon and lists navigation items for larger than 640px*/
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  /* Removes menu icon for screens larger than 640px */
  .navtoggle li:last-child {
    display: none;
  }

  nav>ul {
    margin: 1em 0;
  }
