/*
Colors used:
Primary Color (white): #ffffff;
primary color (grey) : #333333
primary color (dark grey) : #AAAAAA
Secondary Color (Green): #4A02E7;
*/

body {
  background-color: white;
  font-family: "Lato", sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #333333;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

code {
  background-color: black;
  color: #b4d455;
  padding: 5px;
}

/* custom logo sizing */
#logo {
  width: 50px;
  height: auto;
}

/* general image responsive sizing */
img {
  width: 100%;
}

/* Links */
a {
  color: #333333;
  text-decoration: none; /* No underlining */
}

a:hover,
a:focus {
  color: #4a02e7;
  text-decoration: underline;
}

a:visited {
  /* visited link */
  /* color: #ff7f50; */
  /* We suggest using a different color here */
  color: gray;
}
a:active {
  /* selected link */
  color: #4a02e7;
}

/* general buttons */
.button {
  display: inline-block;
  background-color: #4a02e7;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #4a02e7;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.5; /* Reduces the opacity of the button to 50% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #333333;
  text-transform: uppercase;
  border: 2px solid #4a02e7;
}

.button.contact:hover {
  background-color: #4a02e7;
  color: #ffffff;
}

header {
  background-color: #ffffff;
  padding: 10px 0;
  margin: 0px;
  text-align: center;
  border-bottom: 3px solid #4a4a4a;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.38);
  -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.38);
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.38);
}

/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
.center {
  text-align: center;
}
.logo {
  max-width: 50px;
}
nav > ul {
  list-style-type: none;
  padding: 0px;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #4a4a4a;
}
#hero {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero span {
  display: block;
}

main {
  padding-top: 100px;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
    box-sizing: border-box;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  #about-page h3 {
    margin-top: 0;
  }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

.logo {
  max-width: 200px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
}

nav ul li {
  padding: 0 5px;
}

header {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
